<table class="table table-hover">
    <thead>
      <th>Name</th>
      <th>Position</th>
      <th>Mobile</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let emp of list">
        <td (click)="onEdit(emp)">{{emp.data.Code}} - {{emp.data.fullName}}</td>
        <td (click)="onEdit(emp)">{{emp.data.position}}</td>
        <td (click)="onEdit(emp)">{{emp.data.mobile}}</td>
        <td>
          <a class="btn btn-sm btn-info text-white" (click)="onEdit(emp.id)">
            <i class="far fa-edit"></i>
          </a>
          <a class="btn text-warning" (click)="onDelete(emp.id)"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
    </tbody>
  </table>